.pagina-home {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f6f6f6;
  padding-bottom: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: #000;
  color: white;
}

nav img {
  height: 100px;
}

.menu a {
  margin-left: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease;
}

.menu a:hover {
  text-decoration: none;
  transform: scale(1.1); 
}

.menu #areadoaluno{
  color: rgba(255, 0, 0, 0.8);
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease;
}

.menu #areadoaluno:hover {
  text-decoration: none;
  transform: scale(1.05); 
}

#banner {
  background: url('banner.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  text-align: center;
}

#banner h2 {
  font-size: 40px;
  margin: 10px;
}

#banner p {
  font-size: 20px;
}

#servicos {
  background-color: '';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

#servicos h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-right: 40px;
}

#servicos h3{
  font-size: 30px;
}

#caixa-lorem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-size: 20px;
}

.cards-servico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.servico {
  background-color: #2929296e;
  color: white;
  padding: 25px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.377);
  transition: transform 0.2s ease;
}

.servico:hover {
  transform: translateY(-5px);
}

.servico h3 {
  margin: 10px;
  color: #ff0000;
}

.servico a {
  font-size: 18px;
  margin-bottom: 10px;
}

.servico ul {
  text-align: left;
  padding-left: 20px;
}

#banner2 {
  background: url('academiavermelha.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  text-align: center;
  margin-top: 30px;
}

#banner2 p{
  font-size: 25px ;
  width: 600px;
  text-align: center;
  padding: 70px;
  font-weight: bold;
}

#banner2 a {
  align-items: center;
  display: flex;
  text-decoration: none;
  gap: 8px;
  width: 24px;
  height: 24px;
  margin-right: 400px;
  font-size: 50px;
  font: arial;
}

#planos {
  color: white;
  background-color: #1a1a1a;
  padding: 50px 20px;
  text-align: center;
}

.cards-planos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.plano {
  background-color: #2929296e;
  color: white;
  padding: 25px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.377);
  transition: transform 0.2s ease;
}

.plano:hover {
  transform: translateY(-5px);
}

.plano h3 {
  margin: 10px;
  color: #ff0000;
}

.plano a {
  font-size: 18px;
  margin-bottom: 10px;
}

.plano ul {
  text-align: left;
  padding-left: 20px;
}

.btn-contratar {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f80000;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.btn-contratar:hover {
  background-color: #cc0707c2;
}


footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
footer a {
    margin-left: 20px;
    text-decoration: none;
}


/* Responsividade */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .menu {
    margin-bottom: 10px;
    width: 90dvw;
  }

  #servicos h2{
    width: 90%;
    text-align: center;
  }

  #servicos p{
    text-align: left;
  }

  .cards-servico {
    flex-direction: column;
    align-items: center;
  }

  .servico {
    width: 60%;
  }

   .cards-plano {
    flex-direction: column;
    align-items: center;
  }

  .plano {
    width: 90%;
  }

  #banner2{
    font-size: 20px;
  }


  #banner2 p{
    font-size: 90%;
    width: 70%;
    height: 100px;
    margin-bottom: 40px;
  }
}
